<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grasshopper" version="7.0.20314.3001" targetFramework="net48" />
  <package id="MediatR" version="8.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.NETCore.Client" version="0.2.251802" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.Runtime" version="2.2.332302" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.Runtime.Utilities" version="2.0.0-rc.20303.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.PowerShell.5.1.ReferenceAssemblies" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shared.VSCodeDebugProtocol" version="17.2.60629.1" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="16.7.56" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.7.56" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="15.5.31" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.6.0" targetFramework="net48" />
  <package id="Nerdbank.Streams" version="2.6.81" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="OmniSharp.Extensions.JsonRpc" version="0.19.5" targetFramework="net48" />
  <package id="OmniSharp.Extensions.JsonRpc.Generators" version="0.19.5" targetFramework="net48" />
  <package id="OmniSharp.Extensions.LanguageClient" version="0.19.5" targetFramework="net48" />
  <package id="OmniSharp.Extensions.LanguageProtocol" version="0.19.5" targetFramework="net48" />
  <package id="OmniSharp.Extensions.LanguageServer.Shared" version="0.19.5" targetFramework="net48" />
  <package id="RhinoCommon" version="7.0.20314.3001" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="4.7.3" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>